.jumbotron{
    max-height: 10px;
    justify-content: center;
    font-size: 7px;
    padding: 35px;
}

.cardnash {
    margin: 25px;
    position: left;
}
.cardatla {
    margin: 25px;
    position: left;
}
.cardtamp {
    margin: 25px;
    position: left;
}
.cardMain{
    float: right;
}